<div class="main-content-component">
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>
    <characterCardComponent></characterCardComponent>

</div>
